.dashboard-select-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
}

.dashboard-content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    /* background-color: red; */
}

.dashboard-content-wrapper h4{
    margin-bottom: 2rem;
}

.quest-item {
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.1);
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    border-radius: 10px;
}
